<ion-view title="Checkout">

  <ion-content>
  <p id="emptyCartWarning" ng-show="cart.items.length==0" class="alert alert-warning ">Your
              shopping cart is empty.</p>

  <i ng-show="cart.items.length>0" >
    <i ng-repeat="item in cart.items | orderBy:'prodName'">
        <div class="list card">
          <div class="item item-body">
            <div class='container2'>
            <div>
             <img class='iconDetails' src="{{item.prodImgUrl}}" >
             </div>  
  <div style='margin-left:60px;'>
  <h4 class="captiontext" style='margin-left:40px;'>{{item.prodName}}</h4>
  <div style="font-size:.6em;margin-left:40px;"> </div>
  <div style="float:right;font-size:.6em">{{item.prodPrice*item.prodQuantity | currency}}</div>
  </div>
</div>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share this product
            </a>
          
            <a class="tab-item" ng-click="cart.addItem(item.prodId,item.prodName,item.prodPrice,-1000,item.prodImgUrl,item.prodInStock)">
              <i class="icon ion-trash-b" ></i>
              Delete 
            </a>
          </div>
        </div> 
      </i>
        </i> 
        <div>
          <hr></hr>
          <h2>Summary</h2>
          <table style="width:100%;">
             <tr>
                  <td><i style="font-weight: bold; color: black;">Total (Delivery Charges applicable)</i></td>
                  <td><i style="font-weight: bold;color: red;">Rs : {{cart.getTotalPrice()|currency}} </i></td>
             </tr>
           </table>
           <button class="button button-block button-positive" ui-sref="app.placeorder">
           Place Order
           </button>
           <hr></hr>
        </div> 
  </ion-content>
</ion-view>