<ion-view title="Product"> 
<ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-cart " ui-sref="app.checkprods"></button>
    <button class="button button-icon ion-more" ng-click="openPopover($event)">
        </button>
</ion-nav-buttons>
<ion-content>
<div>
	<h3 style="text-align: center; padding-top: 10px;">{{product().productCartDesc}}</h3>
</div>
<div class="list card">
	<div class="item item-body">
		<img src="{{product().productThumb}}">
	</div>
</div>
<hr class="lineproperty">
<div style="float: left; width: 50%; padding-left: 20px">
	<h5>
		MRP : ${{product().productPrice}}<br /> <i style="font-weight: 900;"></i>
	</h5>
</div>
<div
	style="margin-left: 25px; border-left: medium #CC0000 solid; position: absolute; left: 150px; height: 40px;"></div>
<div style="float: left; width: 50%; padding-left: 20px">
	<h5>
		User Rating<br /> Rate
	</h5>
</div>
<br />
<hr class="lineproperty">
<div>
	<h3>Description</h3>
	<h5>
		<p>{{product().productLongDesc}}</p>
	</h5>
</div>
<div style="margin-top: 8px;" class="bar bar-calm">
	<h4>Specification</h4>
	<button class="pull-right button button-icon icon ion-ios-arrow-right "></button>
</div>
<div class ="content-bar" style="height: 30px; margin-top:70px;"><h5 style="padding-bottom:15px;"> People who bought this also bought</h5></div>
<ion-scroll style="margin-top:60px;"direction="x" class="wide-as-needed">
        <i ng-repeat="blockValue in productsList|orderBy:'productDiscountPercentage':true|limitTo:12" >
        <a class="button"><img class="fit" src="{{blockValue.productThumb}}"><span class="caption">{{blockValue.productCartDesc}}</span></a>
      </i>
     </ion-scroll>
</ion-content>

<div class="fixed-outside">
	<div class="row">
		<div class="col">
			<button class="button button-circle button-positive">
				Buy<br /> Now
			</button>

		</div>
		<div class="col">
			<button
				class="button button-circle button-positive icon ion-android-share-alt"></button>
		</div>
	</div>

	<button ng-click="cart.addItem(product().productId,product().productCartDesc,product().productPrice,1,product().productThumb,product().productStock)" 
		class="button button-square button-balanced icon ion-android-add-circle">
		Add to cart</button>
</div>

</ion-view>