<!--  <script id="my-popover.html" type="text/ng-template"> -->
<!-- style="height: {{(70 * years.length) + 'px'}}; -->
      <ion-popover-view style="height: 160px;">
          <div class="list">
            <a class="item" href="#" >
              <h2>Login</h2>
            </a>
            <a class="item" href="#" >
              <h2>Contact Us</h2>
            </a>
            <a class="item" href="#" >
             <h2>Invite Friends</h2>
            </a>
          </div>     
      </ion-popover-view>
<!--     </script> -->